/* Estilo sobrio */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
}

.checkbox-label {
    font-size: 20px;
    margin-bottom: 10px;
}

.custom-checkbox {
    margin-left: 10px;
}

#text {
    position: relative;
}

#text img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.return-home-button {
    margin-top: 20px;
}

.return-home-button a {
    text-decoration: none;
    color: #fff;
    background: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
}

.return-home-button a:hover {
    background: #0056b3;
}

/* Estilo loco */
body.crazy-mode {
    animation: backgroundChange 10s infinite;
    color: #ff0;
}

body.crazy-mode .container {
    border-color: #f00;
    background: #ff0;
}

body.crazy-mode .checkbox-label {
    font-size: 24px;
    color: #f00;
    animation: pulse 1s infinite;
}

body.crazy-mode .return-home-button a {
    background: #0f0;
    color: #000;
}

body.crazy-mode .return-home-button a:hover {
    background: #00ff00;
}

body.crazy-mode #text {
    display: block;
    font-size: 24px;
    color: #f0f;
    animation: shake 0.5s infinite;
}

body.crazy-mode #advaroImage {
    display: block;
    margin: 0 auto;
}

/* Animaciones */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
}

@keyframes backgroundChange {
    0% {
        background-color: #ff0;
    }
    25% {
        background-color: #f0f;
    }
    50% {
        background-color: #0ff;
    }
    75% {
        background-color: #00f;
    }
    100% {
        background-color: #ff0;
    }
}